@font-face {
    src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
    font-family: Raleway;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Raleway, sans-serif;
}
header {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    margin-left: 35px;
    height: 19px;
}
nav {
    width: 25%;
    height: 100%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
}
nav a {
    text-decoration: none;
    color:black;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

i {
    color:#0065FC;
    margin-right: 10px;
}
h1 {
    font-weight: 700;
    font-size: 22px;
}
h2, #filters {
    font-weight: 700;
    font-size: 18px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
}
p {
    font-weight: 400;
    font-size: 16px;
    margin: 0.4rem auto;
}

/* search part */
#search {
    margin: 0 55px;
}
form {
    font-family: Raleway, sans-serif;  
    font-weight: 700;
    margin: 1rem 0;
    height: 49px;
    display: flex;
    align-items: center;
}
form i {
    color : black;
    margin-right: 0;
    padding: 10px;
    border-radius: 50px 0 0 50px;
}
input {
    font-family: Raleway, sans-serif;  
    font-weight: 700;
    color: black;
    height: 100%;
    border: none;
    outline: none;
    width: 332px;
}

#search-button {
    height: 100%;   
    width: 132px;
    background-color: #0065FC;
    border: 2px solid #0065FC ;
    font-weight: 700;
    font-size: 18px;  
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}
.fa-magnifying-glass {
    display: none;
}
#filters {
    display: flex;
    width: 914px;
    justify-content: space-around;
    align-items: center;
    margin: 32px 0 38px 0;
}
#filters-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#filters button {
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    padding: 7px 20px;
    font-weight: 700;
    font-size: 17px;
    font-family: Raleway, sans-serif;
}
#filters button:hover {
    background-color: #DEEBFF;
}


#nights a, #activities a {    
    color: black;
    text-decoration: none;
}
/* nights part*/
#nights {
    display: flex;
    margin: 50px;
}
#nights p {
    font-size: 14px;
}
#nights i:last-child{
    color: #f2f2f2;
}
#nights ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
}
#nights li {
    background: #fff;
    border: solid 5px #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 13px 4px rgba(198, 198, 198, 0.78);;
}
#nights li i {
    margin: 0;
}
.presentation {
    margin-left: 15px;
}
#marseille-nights {
    background: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
    width: 880px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#marseille-nights ul {
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
}
#marseille-nights img {
    width: 246px;
    height: 124px;
    object-fit: cover;
}




#popular-nights {
    background: #f2f2f2;
    border-radius: 20px;
    width: 420px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#popular-nights-title i {
    color: #0065fc !important;
}
#popular-nights-title {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#popular-nights a {
    display: flex;
    width: 343px;
    height: 144px;
}
#popular-nights img {
    width: 137px;
    height: 144px;
    object-fit: cover;
}
#popular-nights .presentation {
    position: relative;
}
.stars {
    bottom: 0;
    position: absolute;
}

/* activities */
#activities {
    margin: 50px;
}
#activities h1 {
    margin-bottom: 18px;
}
#activities img {
    height: 389px;
    width: 302px;
    object-fit: cover;
}
#activities ul {
    display: flex;
    justify-content: space-between;
}
#activities li {
    box-shadow: 2px 2px 13px 4px rgba(198, 198, 198, 0.78);
    border-radius: 20px;
    overflow: hidden;
}
#activities h3 {
    margin-left: 20px;
    height: 56px;
    align-items: center;
    display: flex;
}


footer {
    background: #f2f2f2;
    margin: 60px 50px 0 ;
    height: 225px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
footer div:first-child {
    margin-left: 70px;
}
footer div:last-child {
    margin-right: 327px;
}
footer h3 {
    margin-bottom: 20px;
}
footer li {
    margin-bottom: 12px;
}
footer p {
    font-size: 16px;
}





@media screen and (max-width: 992px) {
    #nights {
        display: block;
    }
    #popular-nights {
        width: 100%;
        display: block;
    }
    #popular-nights ul {
        flex-wrap: nowrap;
        display: flex;
        justify-content: space-around;
    }
    #popular-nights li {
        height: 144px;
        width: 242px;
    }
    #popular-nights img {
        width: 106px;
    }
    #activities img {
        height: 211px;
        width: 182px;
    }
    #activities h3 {
        width: 162px;
    }
    footer {
        margin: 60px 70px 0 ;
        height: 225px;
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
    }
    footer div:last-child {
        margin-right: 170px;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: block;
        height: 129px;
    }
    header img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 21px auto 48px;
    }
    nav {
        height: 18px;
        width: 100%;
    }
    nav a {
        padding: 0 0 23px 0;
    }
    nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    .search-screen {
        display: none;
    }
    .fa-magnifying-glass {
        display: block;
        color: #FFFFFF;
    }
    #filters {
        display: block;
        width: 375px;

    }
    #filters-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 375px;
    }
    #filters button {
        font-size: 11px;
        width: 160px;
        height: 50px;
        padding: 0;
        margin-top: 16px;
    }
    #search p {
        width: 375px;
        margin: 0;
    }
    #nights {
        margin: 17px 0;
        display: flex;
        flex-direction: column-reverse
    }
    #marseille-nights {
        width: 375px;
        border-radius: 0;
    }
    #marseille-nights img {
        width: 100%;
    }
    #marseille-nights li {
        width: 335px;
    }
    #popular-nights {
        border-radius: 0;
        width: 375px;
    }
    #popular-nights ul, #marseille-nights ul {
        display: block;
    }
    #popular-nights li {
        width: 334px;
    }
    #popular-nights img {
        width: 137px;
    }
    #activities {
        margin: 0 20px;
    }
    #activities ul {
        display: block;
    }
    #activities li {
        width: 334px;
    }
    #activities img {
        height: 134px;
        width: 334px;
        object-fit: cover;
    }
    footer {
        height: 100%;
        display: block;
        margin: 80px 0 0px;
        padding: 0 0 60px 30px ;
    }
    footer div:first-child {
        margin-left: 0;
    }
    footer div:last-child {
        margin-right: 0;
    }
    footer div {
        margin-bottom: 40px;
    }
}
